<arl-header></arl-header>


<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cookie</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter cookie</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter cookie" ng-model="cookie.value">
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="submitCookie()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
    </div>
    <!-- /.row -->

</section>