
*.txt~

sync.sh

sync.sh~
www/www.iml

platforms/
platforms/**

# iOS

platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# android
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties
.gitignore~


platforms/android/.gradle/2.2.1/taskArtifacts/cache.properties.lock

platforms/android/.gradle/2.2.1/taskArtifacts/fileHashes.bin

*.xml~

.DS_Store

www/.DS_Store

.DS_Store
