<arl-header></arl-header>
<arl-sidebar></arl-sidebar>
<div class="content-wrapper">

    <section class="content-header">
        <h1 class="dashboardtitle">Create new game

        </h1>
    </section>


    <section class="content" style="height:100vh; ">

        <div class="row">
            <div class="col-md-12">

                <!-- /.box -->

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Create Game
                            <small>Simple and fast</small>
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-default btn-sm" data-widget="collapse"
                                    data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-default btn-sm" data-widget="remove"
                                    data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i></button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">


                        <!--<div text-angular="text-angular" name="htmlcontent2" ng-model="htmlcontent2" class="btn-toolbar"-->
                             <!--ta-toolbar-group-class="btn-group"-->
                             <!--ta-toolbar-button-class="btn btn-default"-->
                             <!--ta-toolbar-active-button-class="active"></div>-->
                        <div class="form-group">
                            <label for="gameTitle">Game title</label>
                            <input type="email" class="form-control" id="gameTitle" placeholder="Enter email">
                        </div>


                            <label >Game Description</label>
                            <text-angular ta-toolbar="[]"   id="gameDescription"  name="htmlcontent2" ng-model="htmlcontent2.test" ></text-angular>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>

    </section>
    <section class="content">

    </section>

</div>
