<link href="hsgames.css" rel="stylesheet">
 
     <div id="main-header"> 
		<div class="nav-button">
			<div class="btn-back"><a href="#"><img src="images/btn_back.png" width="50px"  alt=""/></a></div>
	   </div>
            
		<div class="nav-location"></div>
		
		<div class="score_bg">
			<div class="score">
			<p>333</p>
			</div>
		</div>
	</div>
  
<div id="content"> 
	<section id="arcade-menu" class="arcade-menu">
              <a href="#" class="arcade-game"><div class="arcade-icon"><img src="images/ic_safety-signs.png" width="60px" alt=""/></div><div class="arcade-title">Safety signs</div></a>
              <a href="#" class="arcade-game"><div class="arcade-icon"><img src="images/ic_safety-signs.png" width="60px" alt=""/></div><div class="arcade-title">Safety signs</div></a>           
    </section>
</div>

