<link href="hsgames.css" rel="stylesheet">
  
<div id="content"> 
	<section id="arcade-menu" class="arcade-menu">
              <a href="#" class="arcade-game"><div class="arcade-icon"><img src="images/ic_safety-signs.png" width="60px" alt=""/></div><div class="arcade-title">Safety signs</div></a>
              <a href="#" class="arcade-game"><div class="arcade-icon"><img src="images/ic_safety-signs.png" width="60px" alt=""/></div><div class="arcade-title">Safety signs</div></a>           
    </section>
</div>

