
  <link href="hsgames.css" rel="stylesheet">

    <div id="main-header"> 
		<div class="nav-button">
			<div class="btn-back"><a href="#"><img src="images/btn_back.png" width="50px"  alt=""/></a></div>
	   </div>
            
		<div class="nav-location"></div>
		
		<div class="score_bg">
			<div class="score">
			<p>333</p>
			</div>
		</div>
	</div>
   
   <div id="game-instruction">
    

    <div id="content">
		<div class="game-title">Work at height</div>
      	<div class="game-abstract">Can you spot the dfanger? Train your working at height skills.</div>
       	<div class="top-score">25 points</div>
        <div class="submit">
        <a href="#link" class="answer btn btn-start">START GAME</a>
        </div>
    </div>

</div>
