:root {
    --primaryColor: #f1c40f;
    --primaryColorLight: #ffde5a;
    --primaryColorDark: #cda70d;
    --primaryColorHighlight: #ffffff;
    --highlightColor: #ffffff;
    --buttonColor: #3498db;
    --buttonAlternativeColor: #14ddb3;
    --backgroundColor: #dcd5cb;
    --backgroundColorLight: #f5ede2;
    --backgroundColorDark: #000000;
    --text: #95a5a6;
    --textLight: #ffffff;
    --textDark: #33485f;
    --textInactive: #c5beb2;
    --transparency: #99000000;
}

/*General HTML elements*/

Body {
	font-family: Open Sans;
	background-color: var(--backgroundColorDark);
}
	

/*ARLearn HTML structure*/

#header {}

.nav {}

.title {}

#content {}

.qnumber {
	text-align: center;
	color: var(--textLight);
	font-size: 1em;
  	font-weight: 300;
  	line-height: 1.1;
	padding-bottom: 6px;
}

.question {
	font-size: 1.3em;
  	font-weight: 500;
  	line-height: 1.1;
  	color: var(--textLight);
	text-align: center;
	padding-bottom: 12px;
}

.timer {}

.qimage {
	padding: 0 5% 5% 5%;
}

#answers {
	margin-top:20px;
}

.answer {
	margin-bottom: 0.5em;
	text-align: center;
	color: var(--textLight);
	font-size: 1em;
  	font-weight: 500;
  	line-height: 1.5;
}


/*General UI elements*/


.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  display: block;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  outline: none;
  color: var(--textLight);
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: var(--textLight);
  background-color: var(--primaryColor);
}
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: var(--textLight);
  background-color: var(--primaryColorLight);
  border-color: var(--primaryColorLight);
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: var(--primaryColorLight);
  border-color: var(--primaryColorLight);
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled.hover,
.btn-default[disabled].hover,
fieldset[disabled] .btn-default.hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}