<div id="imagechoice">
    
    <div id="header">
     	<div class="nav"></div>
        <div class="title"></div>
    </div>

    <div id="content">
    	<div class="qnumber"></div>
        <div class="question"></div>
        <div class="ic-answers">
        	<div class="ic-answer">
            	<div class="ic-answer-no"></div>
            </div>
            <div class="ic-answer">
            	<div class="ic-answer-no"></div>
            </div>
            <div class="ic-answer">
            	<div class="ic-answer-no"></div>
            </div>
        </div>
    </div>
    
</div>