
  <link href="hsgames.css" rel="stylesheet">
   
   <div id="multiplechoice">
    
    <div id="header">
     	<div class="nav"></div>
        <div class="title"></div>

    </div>

    <div id="content">
     	<div class="qnumber">1 van 5</div>
		<div class="question">What does this sign mean?</div>
        <div class="timer"></div>
        <div class="qimage"><img src="images/1.png" width="100%" alt=""/></div>
        <div class="answers">
			<a href="#link" class="answer btn btn-default">Answer option one</a>
           	<a href="#link" class="answer btn btn-default">Answer option two</a>
           	<a href="#link" class="answer btn btn-default">Answer option three</a>
        </div>
        <div class="submit">
        <a href="#link" class="answer btn btn-submit">SUBMIT</a>
        </div>
    </div>

</div>
