<div class="gamecard">
    <div class="inner">
        <div class="row">
            <div class="col-md-4" nopadding>
                <div class="icon">
                    <img class="cover-image" ng-src="{{icon}}" alt="Cover art"
                         aria-hidden="true" itemprop="image">
                </div>
            </div>

            <div class="col-md-8" >
                <h4>{{title}}</h4>
                <p class="gamecarddescription" ng-bind-html="description"></br></p>
                <a ng-href="#/games/{{id}}">
                <button class="btn btn-block btn-primary btn-sm">{{'arl.games.gameinfo' | translate}}</button>
            </a>
            </div>
        </div>
    </div>
</div>
