<div class="col-lg-3 col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Data collection</h3>

        </div>

        <div class="box-body ">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  ng-model="item.openQuestion.withPicture">
                        Answer with picture
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="item.openQuestion.withVideo">
                        Answer with video
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="item.openQuestion.withAudio">
                        Answer with Audio
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-change="changePicture()" ng-model="item.openQuestion.withText">
                        Answer with text
                    </label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control"  ng-model="item.openQuestion.textDescription" placeholder="Message for the user?">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="item.openQuestion.withValue">
                        Answer with number
                    </label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" ng-model="item.openQuestion.valueDescription"
                           placeholder="What kind of number should the user enter?">
                </div>

            </div>
        </div>
    </div>


</div>