<div class="content-wrapper" >
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 403</h2>

            <div class="error-content">
                <br><br>
                <h3><i class="fa fa-warning text-yellow"></i> Oops! No access to this page.</h3>

                <p>

                    Maybe, you may want to <a href="#/login">login</a> (with a different account?)
                </p>

                <br><br>


            </div>

        </div>

    </section>
</div>