
<div class="arlMessage">

    <b>GameId: {{item.gameId}} - {{runId}} - {{gameId}}</b>

    <ANY ng-switch="item.type">
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.AudioObject">
            <arl-audio item="item" runId="runId"></arl-audio>
        </ANY>
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.NarratorItem">
            <arl-narrator item="item" runId="runId"></arl-narrator>
        </ANY>
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.SingleChoiceTest">
            <arl-single-choice item="item" runId="runId"></arl-single-choice>
        </ANY>
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.MultipleChoiceTest">
            mct
            <arl-multiple-choice item="item" runId="runId"></arl-multiple-choice>
        </ANY>
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.ScanTag">
            <arl-scan-tag item="item" runId="runId"></arl-scan-tag>
        </ANY>
        <ANY ng-switch-when="org.celstec.arlearn2.beans.generalItem.ImageClickQuestion">
            <arl-image-click-question item="item" runId="runId"></arl-image-click-question>
        </ANY>
        <ANY ng-switch-default>No item matches {{item.type}}</ANY>
    </ANY>
</div>

