<arl-header></arl-header>
<!--<arl-sidebar></arl-sidebar>-->
<!--<div class="content-wrapper">-->

<!--<section class="content-header">-->
<!--<h1 class="dashboardtitle">Hier komt een titel</h1>-->
<!--</section>-->

<!--test-->


<!--</div>-->

<div class="container-fluid ARLback">

    <div class="row">
        <div class="col-xs-6">&nbsp;</div>
    </div>

    <div class="row">
        <a href="#/play/games">
            <div class="col-xs-6"">
                <div class="square myGamesSquare">
                    <div class="contentmainscreen">
                        <img width="100%" src="/images/play/ic_mygames.png"/>
                    </div>
                    <div class="contentTitle">
                        My Games
                    </div>
                </div>

            </div>
        </a>
        <div class="col-xs-6">
            <div class="square librarySquare">
                <div class="contentmainscreen">
                    <img width="100%" src="/images/play/ic_store.png"/>
                </div>
                <div class="contentTitle">
                    Library
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            <div class="square scanSquare">
                <div class="contentmainscreen">
                    <img width="100%" src="/images/play/ic_qrscan.png"/>
                </div>
                <div class="contentTitle">
                    Scan
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="square settingsSquare">
                <div class="contentmainscreen">
                    <img width="100%" src="/images/play/ic_settings_mainmenu.png"/>
                </div>
                <div class="contentTitle">
                    Settings
                </div>

            </div>
        </div>
    </div>
</div>