<div id="playhome">


    <div ng-show="isAuthenticated()" class ="mygames">
        <a href="#/play/games">
            <div class="icon"></div>
            <div class="title">My Games*</div>
        </a>
    </div>

    <div ng-hide="isAuthenticated()" class ="mygames">
        <a href="#/login">
            <div class="icon"></div>
            <div class="title">My Games</div>
        </a>
    </div>

    <div class ="library">
        <a href="#/play/library">
            <div class="icon"></div>
            <div class="title">Library</div>
        </a>
    </div>

    <div class ="scan">
        <a href="#/play/scan">
            <div class="icon"></div>
            <div class="title">Scan</div>
        </a>
    </div>

    <div class ="settings">
        <a href="#/play/settings">
            <div class="icon"></div>
            <div class="title">Settings</div>
        </a>
    </div>

</div>