<div style="float: left;position: relative; width: 100%">
    <section class="content-header">
        <h1>
            Image click {{item.name}}<br>
            relativeX : {{relativeX}}
        </h1>
        {{item.type}}

    </section>



    <img id="test" style='vertical-align: bottom;max-width: 100%; display:block; height: auto;position: absolute;z-index: 1' class="demo-box" src="http://www.degordian.com/static/img/shareImg/degordian.png" />
    <img style="vertical-align: bottom;z-index: 2;" src="/images/valid.png">
</div>